@charset "utf-8";

/*공통*/
#wrap{min-width: 320px; background-color: #000; position: relative;}
.inner {
  max-width: 1700px;
  padding: 0 10%;
  margin: 0 auto;
}


/*header*/

header {position: absolute; top: 0; left: 0; width: 100%; height:80px; line-height: 80px; z-index:9; padding: 20px;}
header .inner {display: flex; justify-content: space-between; align-items: center; max-width: 100%;}
header h1 {position: absolute; left:5%; top:2vh; position: fixed; z-index: 100;} 
header .gnb{display: flex; position: absolute; left: 600px; top: 40px;}
header .gnb > li{position: relative; text-shadow: 5px 5px 5px #000;}
header .gnb > li > a {display: block; padding: 0 40px; font-size: 2rem; transition: color 0.5s;}
header .gnb > li:hover > a{color: #2DEF58;}
header .gnb .depth2 {position: absolute; top: 40px; left: 50%; transform: translateX(-50%); z-index: 99; width: 500px; display: flex; justify-content: center;}
header .gnb .depth2 li a { display: block; padding: 20px 20px; font-size: 1.7rem; color: #fff; transition: color 0.5s;}
header .gnb .depth2 li:hover > a { color: #2DEF58;}
header .depth2-bg { width: 100%; height: 60px; background-color: rgba(0, 0, 0, 0.8); position: absolute; top: 110px; left: 0; z-index: 98;}
header .dim { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8);}
header .mgnb-wrap { position: fixed; right: -100%; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); padding: 50px 50px 50px; z-index: 9999; }
header .mgnb-wrap h3 { font-size: 3rem;  color: #2DEF58; padding-bottom: 5px; text-align: center;}

header .mgnb-wrap .mgnb > li { border-top: 1px solid #000; padding: 10px 0; position: relative; text-align: center; border-bottom: 1px solid #fff;}
header .mgnb-wrap .mgnb > li:last-child { border-bottom: 1px solid #000; border-bottom: 1px solid #fff;}

header .mgnb-wrap .mgnb > li > a { font-size: 1.6rem; transition: color 0.5s;}

header .mgnb-wrap .mgnb > li:hover > a { color: #2DEF58;}

header .mgnb-wrap .mgnb .mdepth2 { background-color: rgba(0, 0, 0, 0.8); margin-top: 10px;}

header .mgnb-wrap .mgnb .mdepth2 li { margin-bottom: 10px;}
header .mgnb-wrap .mgnb .mdepth2 li:last-child { margin-bottom: 0;}

header .mgnb-wrap .mgnb .mdepth2 li a { color: #fff; transition: color 0.5s;}

header .mgnb-wrap .mgnb .mdepth2 li:hover a { color: #2DEF58;}
.mgnb-close {position: absolute; top: 50px; right: 0; padding-right: 15%; color: #fff;}
.ham { display: none; color: #fff;}

/*header 모바일*/
@media screen and (max-width : 768px) {
  header{width: 90%;}
  header h1 { position: absolute; top: 0; left: 50px; }
  header .gnb{ display: none;}
  header .ham { display: block; position: absolute; top: 40px; right: 0; }
  header h1 { transform: scale(70%); padding: 15px 0;}
}



/*footer*/
footer{background-color: #222; color: #fff; padding: 50px 0; }
footer .footer-box{width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;}
footer .footer-box .right-box{display: inline-block;}

/*footer 모바일*/
@media screen and (max-width : 768px) {
  footer{font-size: 1rem;}
  footer .footer-box .left-box{padding-left: 20px;}
    
}